:root{
    --color-primario: rgb(159, 59, 59);
    --color-secundario: rgb(57, 57, 117);
    --color-texto: white;
}

main{
    display: grid;
    grid-template-columns: auto auto auto;
}

main div{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

img{
    width: 100%;
}

.item1{
    grid-area: header;
}

.item2{
    grid-area: nav;
}

.item3{
    grid-area: aside;
}

.item4{
    grid-area: main;
}

.item5{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "aside main main main"
        "footer footer footer footer";
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    background-color: var(--color-primario);
    color: var(--color-texto);
    font-weight: 500;
    padding: 5px;
    transition: background-color 0.8s linear 0.2s, padding 0.3 ease;
}

a:hover{
    background-color: var(--color-secundario);
    padding: 7px;
}